@import '../../styles/mixins.scss';

.hero {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/low_contrast_linen.png");
  height: 100vh;

  .hero__title {
    font-family: 'Bree Serif';
    font-size: 33px;
    letter-spacing: 3px;
    color: #fff;
    transform: translateY(40vh);
    text-align: center;
    max-width: 320px;
    margin: auto;
    position: relative;
    min-height: 37px;
    @include respond-to('medium') {
      max-width: 500px;
    }

    &.cursor:after {
      content: '';
      width: 2px;
      height: 30px;
      animation: cursor .5s infinite;
      position: absolute;
      bottom: 0;
      background-color: #fff;

    }
  }
}

@keyframes cursor {
  from, to { opacity: 0;}
  50% { opacity: 1;}
}
