@import '../../styles/mixins.scss';

.hero {
  background: url("images/low_contrast_linen.png");
  height: 100vh;
  z-index: 1;
  position: relative;
  &.fixed {
    z-index: 99;

    .hero__title__container,
    .goto {
      display: none;
    }
  }
  .hero__content {
    top: 25%;
    position: relative;
    text-align: center;
    @include respond-to('medium') {
      top: 35%;
    }
  }

  .hero__title__container {
    min-height: 148px;
    @include respond-to('medium') {
      min-height: 74px;
    }
  }

  .hero__title {
    color: #fff;
    max-width: 320px;
    @include respond-to('medium') {
      max-width: 550px;
    }
  }

  .hero__profile-pic {
    width: 150px;
    height: 150px;
    top: 50px;
    border-radius: 50%;
    animation: bounceIn 1s ease-out, toTop 1s forwards 2s;
    position: relative;
    border: solid 5px #fff;
    backface-visibility: hidden;
    z-index: 99;
  }
}

@keyframes cursor {
  from, to { opacity: 0;}
  50% { opacity: 1;}
}

@keyframes toTop {
  from { top: 50px; }
  to { top: 0px; }
}

@keyframes flip {
  0% {
    top: -100vh;
    opacity: 0;
    transform: rotateY(0);
  }
  50% {
    top: 0;
    opacity: 1;
    transform: rotateY(0);
  }
  100% {
    opacity: 1;
    transform: rotateY(360deg);
  }
}


@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

