@import '../../styles/mixins.scss';

.hero {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/low_contrast_linen.png");
  height: 100vh;

  .hero__content {
    transform: translateY(-50%);
    top: 50%;
    position: relative;
    text-align: center;
    height: 301px;
  }
  .hero__title {
    font-family: 'Bree Serif';
    font-size: 33px;
    letter-spacing: 3px;
    margin: auto;
    color: #fff;
    max-width: 320px;
    min-height: 37px;
    position: relative;
    @include respond-to('medium') {
      max-width: 500px;
    }

    &.cursor:after {
      content: '';
      width: 2px;
      height: 30px;
      animation: cursor .5s infinite;
      position: absolute;
      bottom: 0;
      background-color: #fff;

    }
  }

  .hero__profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 50px;
  }
}

@keyframes cursor {
  from, to { opacity: 0;}
  50% { opacity: 1;}
}
