@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?je0s6o");
  src: url("../fonts/icomoon.eot?#iefixje0s6o") format("embedded-opentype"), url("../fonts/icomoon.ttf?je0s6o") format("truetype"), url("../fonts/icomoon.woff?je0s6o") format("woff"), url("../fonts/icomoon.svg?je0s6o#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0;
  color: #fff;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-size: 30px;
}

.icon-icon-location {
  &:hover {
    color: #666;
  }
  &:before {
    content: "\e947";
  }
}

.icon-icon-phone {
  :before {
    content: "\e958";
  }
}

.icon-icon-tw {
  color: #63AEEB;
  &:before {
    content: "\ea92";
  }
}

.icon-icon-li {
  color: #297CB2;
  &:before {
    content: "\eac8";
  }
}

.icon-icon-mail {
  &:before {
    content: "\e600";
  }
}

.icon-icon-profile {
  color: #fff;
  &:before {
    content: "\e923";
  }
}

.icon-icon-github:before {
  content: "\e602";
  background-color: #fff;
  color: #000;
  border-radius: 5px;
}