@import '../../styles/mixins.scss';

.contact {
  background: #666699;
  position: relative;
  z-index: 5;
  padding: 80px 60px;
  color: #fff;
  @include respond-to('medium') {
    padding: 20px 100px;
  }

  .cursor:after {
    background-color: #fff;
  }

  .contact__title-wrapper {
    min-height: 37px;
  }

  .contact__title {
    height: 36px;
    text-align: center;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 20px;
    transform: translateY(-100px);
    &:after {
      bottom: 20px;
    }
    @include respond-to('medium') {
      margin: 0 auto;
      text-align: left;
      padding: 0;
      transform: none;

      &:after {
        bottom: 0;
      }
    }
  }
  .contact__description {
    font-size: 18px;
    line-height: 1.5;
    opacity: 0;
    transition: all .8s linear;
    position: relative;
    top: 50px;
    &.fade-in {
      opacity: 1;
    }

    @include respond-to('medium') {
      margin-top: 50px;

      &.fade-in {
        top: 0;
      }
    }
  }

  .contact__list {
    font-size: 18px;
    line-height: 1.5;
    overflow: hidden;
  }

  .contact__item--img {
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }

  .contact__item--img__mobile {
      width: 35px;
  }
  .contact__item--img__location {
      width: 35px;
  }

  .contact__item--title {
    font-family: 'Bree Serif';
    font-size: 18px;
    color: #000;
    line-height: 1.3;
    font-weight: 100;
    color: #fff;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    text-decoration: none;
  }

  .contact__item {
    margin: 0 0 50px;
    position: relative;
    height: 120px;
    text-align: center;
    @include respond-to('medium') {
      width: calc(33% - 10px);
      float: left;
    }
  }
}