@import '../../styles/mixins.scss';

.contact {
  height: 100vh;
  background: #294d65;
  position: relative;
  z-index: 2;
  padding: 80px 100px;
  color: #fff;

  // @include respond-to('medium') {
  //   margin: 100px;
  // }

  .cursor:after {
    background-color: #fff;
  }

  .contact__description {
    font-size: 18px;
    line-height: 1.5;
  }
}
