@import '../../styles/mixins.scss';

.about-me {
  // height: 50vh;
  background: #fff;
  position: relative;
  z-index: 2;
  margin: 100px 50px;
  @include respond-to('medium') {
    margin: 100px;
  }

  .about-me__title {
    height: 36px;
    text-align: center;
    @include respond-to('medium') {
      text-align: left;
    }
  }
  .cursor:after {
    background-color: #000;
  }

  .about-me__description {
    font-size: 18px;
    line-height: 1.5;
  }
}
