@import '../../styles/mixins.scss';

.about-me {
  // height: 50vh;
  background: #fff;
  position: relative;
  z-index: 2;
  margin: 100px 50px;

  &.fixed {
    top: 170px!important;
    height: 360px!important;

    width: 100%!important;
    left: 0!important;
    padding: 0 50px;
    // z-index: 3;
    // position: fixed;
    // height: 100%;
    // bottom: 0;
    // top: 100px;
    @include respond-to('medium') {
      overflow: hidden;
      padding: 0 100px;
      top: 100px!important;
    }
  }

  &.fixed-title {
    height: 100px!important;
    z-index: 3;
  }
  @include respond-to('medium') {
    margin: 100px;
  }

  // .about-me__title-wrapper.fix-title {
  //   top: 100px!important;
  //   height: 150px;
  //   background: #fff;
  //   .about-me__title {
  //     margin: 100px 0 0 0;
  //   }
  // }

  .about-me__title {
    height: 36px;
    text-align: center;
    margin: 0;
    @include respond-to('medium') {
      margin: 30px auto;
      text-align: left;
    }
  }
  .cursor:after {
    background-color: #000;
  }

  .about-me__description {
    font-size: 18px;
    line-height: 1.5;
  }
}

